<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>

<%= cl_image_tag("nynzys0nbd3gn6o5gwzw",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("ars9tzrsialx0l9l6oc2",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
